{% extends 'layout.twig' %}

{% block body %}
 

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body ">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Add Worker Node</h1>
        {% include 'message.twig' %}
      <h3 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>There are {{ numnodes}} worker nodes available</h3>
      <form id='addnode' action="/addnode" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
       <div class="form-group">
          <label for="host">Host</label>
          <input
            type="text"
            id="host"
            name="host"
            class="form-control"
            placeholder="127.0.0.1"
            required
          />
          <small id="Help" class="form-text text-muted">Enter the host address of a worker node to be added to the pool.</small>
        </div>
        <div class="form-group">
          <label for="port">Port</label>
          <input
            type="number"
            id="port"
            name="port"
            class="form-control"
            placeholder="3002"
            required
          />
          <small id="Help" class="form-text text-muted">Enter the port number of a worker node to be added to the pool.</small>
        </div>
       
      
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
