{% extends 'layout.twig' %}

{% block body %}
 

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body ">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>Typosquatter Scanner</h1>
       {% include 'message.twig' %}
        <h3 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>There are {{ numnodes}} worker nodes available</h3>
      <form id='scan' action="/scan" method="POST" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
       <div class="form-group">
          <label for="url">Website</label>
          <input
            type="text"
            id="url"
            name="url"
            class="form-control"
            placeholder="www.example.com"
            required
          />
          <small id="Help" class="form-text text-muted">Enter a url in the form www.example.com. Accepts extensions (.com,.org,.net,.edu)</small>
        </div>
       
      
        <button type="submit" class="btn btn-primary btn-block">Scan</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
